<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #387089;">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <a class="navbar-brand fw-bold" href="#">
            <img src="~/images/login_sin_fondo.png" alt="Logo" width="60" height="40" class="d-inline-block align-text-top">
        </a>

        <div class="collapse navbar-collapse justify-content-center" id="navbarCliente">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item me-3">
                    <a class="nav-link active" asp-controller="Cliente" asp-action="Inicio">Inicio</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" asp-controller="Ticket" asp-action="MisTickets">Mis Tickets</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" asp-controller="Ticket" asp-action="Crear">Crear Ticket</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link" asp-controller="Usuario" asp-action="MiInformacion">Mi Información</a>
                </li>
            </ul>
        </div>
        <form asp-controller="Login" asp-action="CerrarSesion" method="post" class="d-flex">
            <button type="submit" class="btn btn-outline-light">
                <i class="bi bi-box-arrow-right"></i> Cerrar Sesión
            </button>
        </form>


    </div>
</nav>
